@import "antd/dist/reset.css";
@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

@plugin "@tailwindcss/typography";

@theme {
	--font-sans: "HarmonyOS Sans SC";
	--font-serif: "HarmonyOS Sans SC";
	--font-mono: "HarmonyOS Sans SC";

	--color-paper: #F9F9F8;
	--color-paper-ink: #2D2D2D;

	--color-ink: #1A1A1A;
	--color-ink-fg: #E0E0E0;

	--color-accent: #E65100;
	--color-accent-soft: #FFAB91;
}

@layer base {
	:root {
		color-scheme: light;
	}

	html {
		background: #fcfbf8;
		color: #2d2d2d;
	}

	body {
		margin: 0;
		min-height: 100vh;
		font-family: "HarmonyOS Sans SC";
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	.highlight-mengshou-wrap {
		border-radius: 0.15em;
	}

	.sx-react-calendar-wrapper {
		width: 100%;
		height: 100%;
	}
}