---
import Layout from "../../layouts/Layout.astro";
import ProfilesPanel from "../../components/ProfilesPanel";
---

<Layout title="Profiles - UpWord">
	<div class="mx-auto max-w-5xl py-8">
		<ProfilesPanel client:load />
	</div>
</Layout>
