---
import Layout from "../../layouts/Layout.astro";
import GlobalRssPanel from "../../components/settings/GlobalRssPanel";
---

<Layout title="RSS Feeds - UpWord">
	<div class="mx-auto max-w-5xl py-8">
		<GlobalRssPanel client:load />
	</div>
</Layout>
