---
import Layout from "../../layouts/Layout.astro";
import TopicsPanel from "../../components/settings/TopicsPanel";
---

<Layout title="Topics - UpWord">
	<div class="mx-auto max-w-5xl py-8">
		<TopicsPanel client:load />
	</div>
</Layout>
