---
import "@/styles/global.css";
import "@/styles/grain-overlay.css";
import { Font } from "astro:assets";
import { ImpressionLayoutV3 } from "@/components/impression/ImpressionLayoutV3";
import { ClientRouter } from "astro:transitions";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Impression Mode V3 (Cinema)</title>
        
        <!-- Fonts -->
        <Font cssVariable="--font-inter" preload />
        <Font cssVariable="--font-merriweather" preload />
        <Font cssVariable="--font-noto-serif-sc" preload />
        <Font cssVariable="--font-playfair" preload />

        <ClientRouter />
    </head>
    <body class="bg-[#0F0F11] min-h-screen">
        <ImpressionLayoutV3 client:only="react" />
    </body>
</html>
