---
import type { RenderNode } from '../../lib/structure/parser';
import { GRAMMAR_ROLES } from '../../lib/structure/definitions';

interface Props {
  nodes: RenderNode[];
}

const { nodes } = Astro.props;
---

{nodes.map((node) => {
  if (node.type === 'text') {
    return node.content;
  }
  
  if (node.type === 'newline') {
    // Treat newline as a hard break for now, or just a whitespace if preferred.
    // Given the previous CSS, probably just a space or <br> isn't strictly needed 
    // if white-space: pre-wrap is used. But for safety let's use <br/> or actual newline char.
    // Actually, to match previous 'split paragraph' visual, we might want blocks. 
    // But this component usually renders INLINE spans. 
    // Let's perform a safe render of the newline char.
    return "\n";
  }

  if (node.type === 'element') {
    const roleDef = GRAMMAR_ROLES[node.role];
    // If role is invalid, just render children
    if (!roleDef) {
      return <Astro.self nodes={node.children} />;
    }

    // Render the span with data-structure attribute
    return (
      <span data-structure={node.role}>
        <Astro.self nodes={node.children} />
      </span>
    );
  }

  return null;
})}
