---
/**
 * UnifiedText - 统一标注渲染组件
 * 
 * 渲染 UnifiedAnnotationRenderer 生成的 AST
 * 输出带有 data-sid 和 data-structure 属性的 span 元素
 */
import type { RenderNode } from '../../lib/structure/UnifiedAnnotationRenderer';

interface Props {
    nodes: RenderNode[];
}

const { nodes } = Astro.props;
---

{nodes.map((node) => {
    if (node.type === 'text') {
        return node.content;
    }
    
    if (node.type === 'sentence') {
        return (
            <span class="s-token" data-sid={node.sid}>
                <Astro.self nodes={node.children} />
            </span>
        );
    }
    
    if (node.type === 'structure') {
        return (
            <span data-structure={node.role}>
                <Astro.self nodes={node.children} />
            </span>
        );
    }
    
    return null;
})}
